<td class="warning">
    <div class="dropdown">
        <button class="btn-small btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Alternative Info
            <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            