<% provide(:title, "Search")  %>
<div class="container jumbotron">

<div class="input-group">
    <%= form_tag search_path, :method => 'get' do %>
    <p>
        <%= text_field_tag :search, params[:search], :placeholder => 'Search Company' %> Country filter:
        <%= select_tag :jurisdictionFilter, options_for_select([["All", ""], ["Norway", "no"], ["Italy", "it"], ["Great Britain", "gb"]]) %>
        <%= submit_tag "Search", :name => nil %>
    </p>
    <% end %> 
</div> 

</div>
