<footer class="footer navbar-fixed-bottom">
    <div class="container">
    <small>
        The Minimum Viable Product (MVP) - EU Business Graph
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
        </ul>
    </nav>
    </div>
</footer>